.about-panel {
  min-height: 50vh; // 100% of the viewport height
  width: 100%; // Full width
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  opacity: 0; // Start hidden
  transform: translateY(100px); // Start below the original position
  scale: 0.9; // Start slightly smaller
  .about-me {
    justify-content: center;
    align-items: center; // Align items to the start of the cross axis

    font-size: 100px; // Adjust font size as needed
    // font-family: "Zodiak", sans-serif;
    font-family: "Clash Display", sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #a7c4b5;
  }
  .about-content {
    .about-layout {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start; // Align items to the start of the cross axis
      gap: 40px;
      .about-image {
        position: relative;
        flex: 1;
        overflow: hidden;
        cursor: pointer; /* Optional: Changes cursor on hover */

        img {
          width: 100%; // Adjust image width
          //   max-width: 700px; // Prevents the image from being too large
          height: auto; // Keeps the aspect ratio
          transition: transform 0.3s ease, filter 0.3s ease;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        &:hover img {
          transform: scale(1.05);
          filter: brightness(70%);
        }

        &:hover .overlay {
          opacity: 1;
        }
      }

      .about-text {
        margin-top: -60px;
        display: flex;
        flex-direction: column;
        flex: 1;
        h3 {
          font-family: "Clash Display", sans-serif;
          font-weight: bolder;
          font-size: 55px;
          color: black;
        }
        p {
          // font-family: "Supreme", sans-serif;
          font-family: "Cabinet Grotesk", sans-serif;
          font-size: 24px;
          font-weight: 100;
          margin-top: -30px;
        }
        .lottie-animation3 {
          width: 100%; // Adjust the width as needed
          max-width: 500px; // Set a max-width if necessary
          align-self: stretch; // Stretch to match the width of the about-text
        }
      }
    }
  }
}
