.experience-panel {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px;

  .experience-content {
    text-align: center;

    .experience-title {
      justify-content: center;
      align-items: center; // Align items to the start of the cross axis

      font-size: 100px; // Adjust font size as needed
      // font-family: "Zodiak", sans-serif;
      font-family: "Clash Display", sans-serif;
      font-weight: bolder;
      margin-bottom: 20px;
      color: #a7c4b5;
    }

    p {
      font-size: 1rem; // Adjust as needed
    }

    @media (max-width: 767px) {
      .experience-title {
        font-size: 70px; // Adjust font size as needed
      }
    }
  }
}
