.projects-panel {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: translateY(100px);
  scale: 0.9;

  .projects-content {
    text-align: center;

    .chat-application {
      margin-bottom: 150px;
    }

    .project-row {
      display: flex;
      justify-content: center;
      gap: 30px; // Adjust the space between images
      margin-bottom: 40px;
      .project-tile {
        img.project-overlay {
          box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.35);
          width: 100%; // Adjust to control the size
          height: auto; // Maintain aspect ratio
          border-radius: 10px;
        }
      }
    }

    .project-title {
      justify-content: center;
      align-items: center; // Align items to the start of the cross axis

      font-size: 100px; // Adjust font size as needed
      // font-family: "Zodiak", sans-serif;
      font-family: "Clash Display", sans-serif;
      font-weight: bolder;
      margin-bottom: 20px;
      color: #a7c4b5;
    }

    .technologiesItem {
      text-align: left;
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px; // Adjust the gap between technology tags
      font-family: "Cabinet Grotesk", sans-serif;

      .techItem {
        background-color: #9db5b2; // Example background color
        padding: 5px 10px; // Adjust padding as needed
        border-radius: 20px; // Adjust border-radius as needed
        font-size: 20px; // Text size for each technology
        color: white; // Text color
      }
    }

    .project-link {
      font-family: "Cabinet Grotesk", sans-serif;
      margin-top: 20px;
      font-size: 25px;
      text-decoration: none;
      display: inline-flex;
      align-items: center; // Align items vertically in the middle
      padding: 5px 10px;
      cursor: pointer; // Change cursor to indicate it's clickable
      color: black; // Initial color
      transition: transform 0.3s ease-out; // Transition for the link scaling
      align-items: right;

      &:hover {
        transform: scale(1.05); // Slightly scale up the link on hover

        .arrow-icon2 {
          transform: translateX(
            5px
          ); // Move the arrow icon slightly to the right on hover
        }
      }

      a {
        color: black;
        text-decoration: none;
        transition: color 0.3s ease-out; // Smooth color transition
      }

      .arrow-icon2 {
        width: 5%;
        margin-left: 10px; // Space between text and icon
        transition: transform 0.3s ease-out; // Smooth transition for the icon movement
      }
    }
    .linkDesc {
      display: flex;
      flex-direction: row;
    }

    .projectDesc {
      width: 50%;
      font-family: "Cabinet Grotesk", sans-serif;
      font-size: 20px; // Adjust the font size as needed
      color: #333; // Dark grey for modern look, adjust as needed

      display: flex; // Use flexbox for alignment
      flex-direction: column; // Stack children vertically

      text-align: left;
    }

    .project1 {
      font-family: "Clash Display", sans-serif;
      font-size: 40px;
      font-weight: 500;

      text-align: left;
    }
    @media (max-width: 767px) {
      .projectDesc {
        font-size: 20px;
      }
      .project-title {
        font-size: 50px;
      }
      .project1 {
        font-size: 25px;
      }
      .projectDesc {
        width: 100%;
        font-size: 18px;
      }
      .project-link {
        margin-left: -10px;
        font-size: 18px;
        .arrow-icon2 {
          width: 3%;
        }
      }
      .linkDesc {
        display: flex;
        flex-direction: column;
      }
      .technologiesItem {
        .techItem {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .project-row {
    flex-direction: column;
    align-items: center; // Center-align items in the column

    .project-tile {
      img.project-overlay {
        max-width: 100%; // Adjust as needed for mobile screens
        border-radius: 20px;
      }
    }
  }
}
