.sizzle-row {
  display: flex;
  justify-content: center;
  gap: 30px; // Adjust the space between images
  margin-bottom: 40px;
  .sizzle-tile {
    img.project-sizzle {
      box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.35);
      width: 100%; // Adjust to control the size
      height: auto; // Maintain aspect ratio
    }
  }
}

@media (max-width: 767px) {
  .sizzle-row {
    flex-direction: column;
    align-items: center; // Center-align items in the column

    .sizzle-tile {
      img.project-sizzle {
        max-width: 100%; // Adjust as needed for mobile screens
      }
    }
  }
}
